<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.roszkowska.med">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyMedicinesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity"
            android:label="medicinesApp">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".api.userInformation.UserInformationActivity"
            android:label="Informacje o użytkowniku" />

        <activity
            android:name=".api.userInformation.SetUserInfoActivity"
            android:label="Podaj informacje" />

        <activity
            android:name=".api.medicines.ShowDetailsMedicinesActivity"
            android:label="Informacje o leku" />
        <activity
            android:name=".api.appInformation.AppInformationActivity"
            android:label="Informacje o aplikacji" />
        <activity
            android:name=".MainActivity"
            android:label="Strona główna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".api.Scanner.ScanTheCode"
            android:label="Informacje o leku" />

        <activity android:name=".api.myPharmacy.MyPharmacy"
            android:label="Moje leki w apteczce"/>

        <activity android:name=".api.medicines.MedicinesActivity"
            android:label="Baza leków"/>
    </application>

</manifest>